.appearances__header {
	@include retinaImage('#{$page}appearances_header', 'jpg', cover);
	background-size:cover;
	padding-bottom:51%;
	background-position:top left;

	@include breakpoint('tablet') {
		padding-bottom:39.06%;
	}
}




.appearances__sub-header {
	padding-top:rem-calc(80);
	text-align: center;
}


.appearances__logos {
	background:$green;
	padding-top:rem-calc(40);
	padding-bottom:rem-calc(20);

	h2, p {
		text-align: center;
		color:$white;
	}

	ul {
		@include clearMP;
		
		li {
			@include clearMP;
			list-style:none;
			height:100px;
			width:50%;
			margin:auto;
			margin-top:rem-calc(20);
		}
	}

	@include breakpoint('tablet') {
		h2 {
			font-size:rem-calc(25);
		}

		p {
			width:80%;
			margin:auto;
			padding-bottom:rem-calc(30);
		}

		ul {
			display:flex;

			li {
				justify-content:center;
				width:20% !important;
				margin-left:rem-calc(20);
			}
		}
	}
}


.appearance__logos--book {
	text-align: center;
	margin-top:rem-calc(30);
	
	.btn-flatten.hollow {
		border:1px solid $white;
		color:$white;
		font-size:rem-calc(20);
	}


	@include breakpoint('tablet') {
		.btn-flatten.hollow {
			font-size:rem-calc(16);
		}
	}
}



.appearances__appearances {
	padding-top:rem-calc(40);

	h2 {
		text-align: center;
		font-size:rem-calc(25);
	}
	


	.button-group {
		text-align: center;
	}


	@include breakpoint('tablet') {
		
	}

}


.appearances__videos {
	@include clearMP;

	li {
		@include clearMP;
		width:80%;
		margin:auto;
		background-color:rgba($green, 0.5);
		list-style:none;
		margin-top:rem-calc(20);
		background-size:contain;
		background-repeat:no-repeat;
		background-position:top left;
		padding-bottom:45%;
		position: relative;

		&:nth-child(1) {
		  background-image:url('#{$videos}video-1.png');
		}

		&:nth-child(2) {
		  background-image:url('#{$videos}video-2.png');
		}

		&:nth-child(3) {
		  background-image:url('#{$videos}video-3.png');
		}

		&:nth-child(4) {
		  background-image:url('#{$videos}video-4.png');
		}

		&:nth-child(5) {
		  background-image:url('#{$videos}video-5.png');
		}


		span {
			position: absolute;
			@include center(y);
			text-align: center;
			width:100%;
			display: block;
			background:rgba($white, 0.9);
			font-size:rem-calc(20);
			padding:rem-calc(8);
			border: 1px solid $white;	
		}
	}


	
	@include breakpoint('tablet') {
		display:flex;
		flex-wrap: wrap;

		li {
			justify-content:center;
			width:45%;
			padding-bottom:25.45%;
			margin-left:rem-calc(10);
		}
	}
}


.appearances__list {
	li {
		@include clearMP;
		list-style:none;
		line-height:1.8;
		padding:rem-calc(12) rem-calc(20);
		border-bottom:1px solid $gray-lightest;
		@include clearfix;

		&:hover {
			background:$green-lightest;
		}
	}

	&--title {
		display: block;
		font-size:rem-calc(20);	
		float:left;
	}

	&--date {
		display: none;
		float:right;
		color:$gray-light;


		@include breakpoint('tablet') {
			display: block;
		}
	}
}



/*
|--------------------------------------------------------------------------
| Logos 
|--------------------------------------------------------------------------
|
|
*/
.appearances__mens-health {
	@include retinaImage('#{$icon}mh_logo', 'png', contain);
	background-repeat:no-repeat;
	background-size:contain;
	background-position:center center;
}

.appearances__us-news {
	@include retinaImage('#{$icon}us_news', 'png', contain);
	background-repeat:no-repeat;
	background-size:contain;
	background-position:center center;

}

.appearances__iVillage {
	@include retinaImage('#{$icon}ivillage', 'png', contain);
	background-repeat:no-repeat;
	background-size:contain;
	background-position:center center;
}

.appearances__MSN {
	@include retinaImage('#{$icon}msn', 'png', contain);
	background-repeat:no-repeat;
	background-size:contain;
	background-position:center center;
}
