.appearances__hero {
	background-image: url('#{$page}appearances/appearances-hero-sm.jpg');
	background-position:center right;

	@include breakpoint('tablet') {
		background-image: url('#{$page}appearances/appearances-hero-med.jpg');
	}

	@include breakpoint('laptop') {
		background-image: url('#{$page}appearances/appearances-hero-large.jpg');
	}
}


.appearance__text {
	position: relative;
}


.appearance__text__image {
	.tablet-only, .laptop-up {
		display:none;
	}




	@include breakpoint('tablet') {
		position: absolute;
		bottom:0;
		left:50%;
		height:100%;
		img {
			height:100%;
		}

		.tablet-only {
			display:block
		}
	}

	@include breakpoint('laptop') {
		left:50%;

		.laptop-up {
			display: block;
		}

		.tablet-only {
			display: none;
		}
	}

	
	@include breakpoint('medium-desktop') {
		right:8%;
	}

	@include breakpoint('large-desktop') {
		@include container;
		right:15%;
	}
}


/*
|--------------------------------------------------------------------------
| Logo Section
|--------------------------------------------------------------------------
|
|
*/
.appearances__logos {
	background:$green;
	padding:rem-calc(40) rem-calc(20);

	h2 {
		text-align: center;
		color:$white;
	}
	
	p {
		text-align: center;
		color:$white;
		margin-bottom:rem-calc(40);
	}

	ul {
		@include clearMP;
		text-align: center;
	}
	
	li {
		list-style:none;
		min-height:rem-calc(200);
		width:60%;
		margin:auto;
		
		background-size:contain;
		background-position:center center;
		background-repeat:no-repeat;
	}

	
	.button-group {
		margin:auto;
		text-align: center;
		width:auto;
	}

	@include breakpoint('tablet') {
		li {
			@include span(3 of 12);
			&:last-child { @include last; }
		}

		p {
			width:span(8 of 12);
			margin:auto;
		}
	}
}


.appearances__mens-health {
	background-image:url('#{$icon}mh_logo.png');

	@include breakpoint('retina') {
		background-image:url('#{$icon}mh_logo@2x.png');
	}
}

.appearances__us-news {
	background-image:url('#{$icon}us_news.png');
	
	@include breakpoint('retina') {
		background-image:url('#{$icon}us_news@2x.png');
	}
}

.appearances__iVillage {
	background-image:url('#{$icon}ivillage.png');

	@include breakpoint('retina') {
		background-image:url('#{$icon}ivillage@2x.png');
	}
}

.appearances__MSN {
	background-image:url('#{$icon}msn.png');

	@include breakpoint('retina') {
		background-image:url('#{$icon}msn@2x.png');
	}	
}


/*
|--------------------------------------------------------------------------
| Appearances Section
|--------------------------------------------------------------------------
|
|
*/
.appearances__appearances {
	
	h3 {
		text-align: center;
	}

	ul { @include clearMP; }
	
	li {
		list-style:none;
		position: relative;
		width:90%;
		margin:auto;
		margin-top:rem-calc(20);
		min-height:rem-calc(200);
		background-size:cover;
		background-repeat:no-repeat;
		position: relative;
		background-image:url('#{$video}video-1.png');

		

		&:nth-child(3n) {
			background-image:url('#{$video}video-2.png');	
		}

		&:nth-child(6n) {
			background-image:url('#{$video}video-3.png');	
		}

		&:nth-child(5n) {
			background-image:url('#{$video}video-4.png');	
		}
		
		a {
			position: absolute;
			@include center(xy);
			color:$white;
			text-align: center;
			text-decoration: none;
			font-size:rem-calc(24);

			width:90%;

			z-index:3;
		}
	
		&:before {
			content:'';
			position: absolute;
			top:0;
			left:0;
			height:100%;
			width:100%;
			background:rgba($black, 0.4);
			z-index:2;
		}

	}

	.button-group {
		margin:auto;
		text-align: center;
	}


	@include breakpoint('tablet') {
		li {
			display: inline-block;
			@include span(6 of 12);
			margin-top:rem-calc(10);
			

			
			z-index:1;

		}

		
		

	}

	@include breakpoint('laptop') {
		li {
			margin-top:rem-calc(30);
			@include span(3 of 12);
			
		}


		.appearances__list--date {
			display: block;
			border-top:1px solid $white;
			font-size:rem-calc(16);
		}
	}

} 


/*
|--------------------------------------------------------------------------
| Individual Appearance
|--------------------------------------------------------------------------
|
*/

.appearance__video-wrapper  {
	background:$off-white;
	@include angle(before, true);
}


.apperances__video {
	@include container;
	
	h1 {
  		text-align: center;
  		// margin-top:rem-calc(-30);
  	}


	.video-container {
		height: 0;
  		padding-bottom: 56.25%; /* 16:9 */
  		position: relative;
  		pading-top:rem-calc(25);
  		// border: 1px solid #000;	

  		video {
			max-width: 100%;
			height: auto !important;
		}

		iframe {
			position: absolute;
  		  	@include center(xy);
  		  	width:100%;
  		  	height:100%;
		}
	}
	
	
	@include breakpoint('tablet') {
		width:span(8 of 12);
		margin:auto;
	}

	@include breakpoint('laptop') {
		width:span(10 of 12);
	}
}


/*
|--------------------------------------------------------------------------
| Form
|--------------------------------------------------------------------------
|
|
*/

.appearances__form {
	display:none;
	margin-top:rem-calc(50);
	
	h2 {
		@include breakpoint('tablet') {
			text-align: center;
		}
		
	}
}
