/*
|--------------------------------------------------------------------------
| Article Image Stuff
|--------------------------------------------------------------------------
|
| Description 1
|  Description 2
| 
|
*/
.article__header {
	position: relative;
	padding-top:rem-calc(100);
	padding-bottom:rem-calc(20);
	padding-left:rem-calc(20);
	padding-right:rem-calc(20);
	text-align: center;

	.button {
		position: relative;
		text-align: center;
		margin-top:0;
	}




	h1 {
		text-align: center;
		font-size:rem-calc(40);
		width:100%;
		line-height:rem-calc(46);
	}


	&.category {
		h1 {
			padding-top:0;
		}
		h5 {
			margin-bottom:rem-calc(4);
			text-transform: uppercase;
		}
	}

	
	@include breakpoint('tablet') {
		h1 {
			width:90%;
			margin:auto;
			font-size:rem-calc(60);
			line-height: rem-calc(68);
			margin-bottom:rem-calc(20);
		}
	}

	@include breakpoint('laptop') {
		h1 {
			width:60%;
		}


	}
}


.article__author {
	text-align: center;
	
	
	a {
		text-decoration: none;
		color:$white;
	}

	small {
		display: block;
	}
}

.article__image {
	position: absolute;
	z-index:-1;
	width:100%;
	top:0;
	right:0;

	img {
		width:100%;
	}
}



/*
|--------------------------------------------------------------------------
| Share
|--------------------------------------------------------------------------
|
| 
|
*/


.article__share-links {
	position: relative;
	@include clearMP;
	text-align: center;
	
	li {
		list-style:none;
		display: inline-block;
		margin-right:rem-calc(15);
		cursor:pointer;
	}

	i {
		font-size:rem-calc(30);
		color:$white;
	}
	
	@include breakpoint('phone-only') {
		@include clearfix;
		
		li{
			@include span(3 of 12);
			&:last-child { @include last; }
		}


	}

}



/*
|--------------------------------------------------------------------------
| Content
|--------------------------------------------------------------------------
|
*/

.article__edit-button {
	display:none;

	@include breakpoint('tablet') {
		display: block;
		position: relative;
		float:right;
		margin-top:rem-calc(-60);
		z-index:$z-layer-range-4;
	}
}


.article__content {
	background:$off-white;
	position: relative;
	z-index:2;

	h1, h2, h3, h4, h5, h6 {
		clear:both;
		margin-top:rem-calc(40);
		color:$gray;
	}

	&--content {
		padding-top:rem-calc(20);
	}

	&--video {
		margin-top:rem-calc(30);

		@include breakpoint('tablet') {
			@include container;
			text-align: center;
		}

		@include breakpoint('tablet') {
			width:span(8 of 12);
			margin:auto;
			margin-top:rem-calc(30);
		}

		@include breakpoint('laptop') {
			width:span(10 of 12);
		}

		.video-container {
			height: 0;
	  		padding-bottom: 56.25%; /* 16:9 */
	  		position: relative;
	  		pading-top:rem-calc(25);
	  		// border: 1px solid #000;	

	  		video {
				max-width: 100%;
				height: auto !important;
			}

			iframe {
				position: absolute;
	  		  	@include center(xy);
	  		  	width:100%;
	  		  	height:100%;
			}
		}
	}


	

	@include breakpoint('tablet') {
		&--content {
			width:span(10 of 12);
			margin:auto;
		}
	}

	@include breakpoint('laptop') {
		&--content {
			width:span(6 of 12);
			margin:auto;
			
			p {
				line-height:2.0;
			}
		}
	}
}


/*
|--------------------------------------------------------------------------
| Article you might also like
|--------------------------------------------------------------------------
|
|
*/

.article__also {
	margin-bottom:rem-calc(40);
	
	h3 {
		color:$gray;
		text-align: center;
	}

	@include breakpoint('tablet') {
		.m-article {
			@include gallery(4 of 12);
    		@include gutters(5px);
		}
	}

	@include breakpoint('laptop') {
		&--articles {
			width:span(8 of 12);
			margin:auto;
		}
	}

	
}


/*
|--------------------------------------------------------------------------
| Footer
|--------------------------------------------------------------------------
|
| Description 1
|  Description 2
| 
|
*/

.article__footer {
	position: fixed;
	bottom:0;
	width::100%;
	z-index:2;

	background:rgba($green, 0.9);
	@include transition(transform ease-in 0.4s);
	@include translateY(100%)



	h4 {
		margin-bottom:rem-calc(3);;
		color:$white;
		small {
			display: block;
		}
	}


	&--close {
		float:right;
		color:$white;
		margin-top:rem-calc(5);
		margin-right:rem-calc(5);
	}

	&--mailchimp {
		input {
			border:none;
		}

		button {
			padding-bottom:rem-calc(13);
			padding-top:rem-calc(13);
			color:$white;
			border:1px solid $white;
			margin-top:rem-calc(5);;
		}
	}

	&--success {
		h4 {
			color:$white;
			text-align: right;
		}
	}

	&.open {
		@include translateY(0);
	}


	@include breakpoint('tablet') {
		&--title {
			@include span(4 of 12);

			span {
				display: block;
			}
		}

		&--mailchimp {
			@include span(8 of 12 last);

			input {
				width:76%;
				border:none;
			}
			
			button {
				width:23%;
				margin-top:rem-calc(33);
				padding-bottom:rem-calc(17);
				padding-top:rem-calc(17);
			}
		}
	}


	@include breakpoint('laptop') {
		&--title {
			@include span(4 of 12);

			span {
				display: inline-block;
			}
		}

		&--close {
			display: none;
		}


		&--mailchimp {
			margin-bottom:0;
			
			@include span(8 of 12 last);

			.form-group {
				@include clearMP;
			}
			
			input {
				margin-top:rem-calc(33);
				@include span(5 of 6 no-gutter wide)
			}
			
			button {
				@include span(1 of 6 no-gutter wide last);
				padding-bottom:rem-calc(13);
				padding-top:rem-calc(13);
			}
		}
	}
}