

.contact-map__cover {
		z-index:$z-layer-range-8;
		height:rem-calc(400);
		width:100%;
		position: absolute;
}


.contact-map__map {
	position: relative;
	z-index:1;
}

.contact--form {
	background-color:$off-white;
	@include angle(before, false)

	h2 {
		text-align: center;
	}
}