/*
|--------------------------------------------------------------------------
| Contact Page
|--------------------------------------------------------------------------
|
|
*/

/**
 * Wrapper for Map 
 */
.contact-map__wrapper {
	display:none;

	@include breakpoint('tablet') {
		display:block;
		position: relative;
	}

}


/**
 * Contact Map and Cover
 * @note cover lays on top of map to make it not reactive to scrolling 
 */

.contact-map {
	
	&__cover {
		height:rem-calc(430);
		background:rgba($green, 0.2);
		position: absolute;
		z-index:$z-layer-range-2;
		width:100%;
	}
}