

.corporate__hero {
	background-image: url('#{$page}corporate/corporate-hero-sm.jpg');
	background-position:center right;

	h1, h4 {
		@include clearMP;
		color:$white;
		position: relative;
	}

	@include breakpoint('tablet') {
		background-image: url('#{$page}corporate/corporate-hero-med.jpg');
	}

	@include breakpoint('laptop') {
		background-image: url('#{$page}corporate/corporate-hero-large.jpg');
	}
}

.corporate-subnav {
	@include breakpoint('phone') {
		li {
			display: block;
			width:100%;
		}
	}
}

/*
|--------------------------------------------------------------------------
| Sustain
|--------------------------------------------------------------------------
|
*/

.corporate-sustain {
	background-image: url('#{$page}corporate/sustain-sm.jpg');
	background-position:center right;

	h1, h4 {
		@include clearMP;
	}

	h4 {
		margin-bottom:rem-calc(20);
	}

	@include breakpoint('tablet') {
		background-image: url('#{$page}corporate/sustain-med.jpg');
	}

	@include breakpoint('laptop') {
		background-image: url('#{$page}corporate/sustain-large.jpg');
	}
}

.corporate-sustain__text {
	@extend %green-gradient;
  	position: relative;

	@include angle(before, true);

	&--cta {
		margin-top:rem-calc(60);
	}

	padding-bottom:rem-calc(20);
}

/*
|--------------------------------------------------------------------------
| Lunch
|--------------------------------------------------------------------------
|
*/




.corporate-lunch {
	background-image: url('#{$page}corporate/lunch-and-learn-sm.jpg');
	background-position:center right;


	@include breakpoint('tablet') {
		background-image: url('#{$page}corporate/lunch-and-learn-med.jpg');

		h1 {
			text-align: right;
		}
	}

	@include breakpoint('laptop') {
		background-image: url('#{$page}corporate/lunch-and-learn-large.jpg');
	}
}

.corporate-lunch__text {
	@extend %green-gradient;
  	position: relative;

	@include angle(before);
	padding-bottom:rem-calc(40);

}


/*
|--------------------------------------------------------------------------
| Taste and Teach
|--------------------------------------------------------------------------
|
*/




.corporate-taste {
	background-image: url('#{$page}corporate/taste-and-teach-sm.jpg');
	background-position:center right;
	
	
	@include breakpoint('tablet') {
		background-image: url('#{$page}corporate/taste-and-teach-med.jpg');
	}

	@include breakpoint('laptop') {
		background-image: url('#{$page}corporate/taste-and-teach-large.jpg');
	}
}


.corporate-taste__text {
	@extend %green-gradient;
  	position: relative;
  	padding-bottom:rem-calc(40);

	@include angle(before, true);
}


/*
|--------------------------------------------------------------------------
| Taste and Teach
|--------------------------------------------------------------------------
|
*/

.corporate__webinars {
	position: relative;
	
	@include breakpoint('tablet') {
	
	}

}


.corporate__webinars--image {
	background-image: url('#{$page}corporate/webinar-sm.jpg');
	background-position:top center;
	background-size:cover;
	
	height:rem-calc(150);
	width:100%;
	

	@include breakpoint('tablet') {
		background-image: url('#{$page}corporate/webinar-med.jpg');
		background-size:cover;
		background-position:top right;
		width:span(6 of 12 wider);
		height:100%;
		position: absolute;
		top:0;
		right:0;
	}


	@include breakpoint('laptop') {
		background-image: url('#{$page}corporate/webinar-large.jpg');
		background-size:cover;
	}	
}
