.faqs__hero {
	background-image: url('#{$page}faqs/faqs-hero-sm.jpg');
	background-position:center right;

	h1 {
		margin-bottom:0;
	}

	@include breakpoint('tablet') {
		background-image: url('#{$page}faqs/faqs-hero-med.jpg');
	}

	@include breakpoint('laptop') {
		background-image: url('#{$page}faqs/faqs-hero-large.jpg');

	}
}

.faq__question__search {
	background:$gray-light;
	position: relative;

	@include breakpoint('phone-only') {
		.row { @include clearMP; }
	}
	

	.search-icon {
		position: absolute;
		top:rem-calc(10);
		right:rem-calc(20);
	}

	input {
		background:none;
		border:none;
		font-size:rem-calc(24);
	}

	@include breakpoint('laptop') {
		.search-icon {
			position: absolute;
			right:auto;
			margin-left:rem-calc(-10);
			margin-top:rem-calc(5);
		}
	}
}


.faqs__questions__wrapper {
	 padding-bottom:rem-calc(80);
	
	 ul {
	 	@include clearMP;
	 }

	 li {
	 	list-style:none;

	 	a {
	 		text-decoration: none;
	 	}
	 }

	 @include breakpoint('tablet') {
	 	.faqs__questions {
	 		@include span(8 of 12);
	 	}

	 	.faqs__contact {
	 		@include span(4 of 12);
	 		
	 		h3 {
	 			color:$gray;
	 		}
	 	}
	 }
}


.faq__question {
	font-size:rem-calc(18);
	border-bottom:1px solid $gray-light;
	padding-top:rem-calc(30);
	padding-bottom:rem-calc(30);
	margin-left:rem-calc(20);
	cursor: pointer;
	
	i {
		position: relative;
		top:rem-calc(5);
		margin-left:rem-calc(-30);
		display: inline-block;
		@include transition(transform ease-in 0.4s);
	}
	
	.faq__answer {
		display:none;
		margin-left:rem-calc(20);
	}

	&:last-child {
		border-bottom:none;
	}


	&.open {
		.faq__answer {
			display:block;
		}

		i {
			@include rotate(90deg);
		}
	}
}


.faqs__more {
	background:$white;
	padding:rem-calc(40) rem-calc(20);

	@include angle(before, true);

	@include breakpoint('tablet') {
		&--form {
			width:span(10 of 12);
			margin:auto;	
		}
	}

	@include breakpoint('laptop') {
		&--form {
			width:span(8 of 12);	
		}
	}
}