
.faq__header {
	background:url('#{$headers}faq_xlarge.jpg') top left no-repeat;
	background-size:cover;
	padding-bottom:rem-calc(60);
	padding-top:rem-calc(40);

	h1 {
		color:$green;
		text-shadow:1px 1px 0 rgba($black, 0.9);
	}


	&--text {
		text-align: center;
		

		form {
			width:90%;
			margin:auto;
			position: relative;
		}

		button {
			float:right;
			position: absolute;
			top:rem-calc(8);
			right:0;
			border:none;
			outline:none;
			background:none;
			color:$gray;
		}

	}


	@include breakpoint('tablet') {
		padding-top:rem-calc(50);

		h1 {
			font-size:rem-calc(48);
		}

		form {
			width:80%;
			margin:auto;
		}
	}


	@include breakpoint('laptop') {
		h1 {
			font-size:rem-calc(56);
		}

		padding:rem-calc(80);
	}
}



.faq__wrapper {
	box-shadow: none;
	border:none;
	@include clearMP;
	
	li {
		list-style:none;
		padding-left:rem-calc(0);
		margin-left:0;
	}

}



.faq__contact {
	margin-top:rem-calc(40);

	@include breakpoint('laptop') {
		margin-top:0;
	}
}

.faq__question {
	i {
		font-size:rem-calc(16);
		color:$gray-light;
		margin-right:10px;
	}

	.collapsible-header {
		@include clearMP;
		color:$green;
		font-size:rem-calc(20);
		padding:rem-calc(20) 0;
		line-height:1.6;
	}

	.collapsible-body {
		margin-left:rem-calc(42);
		border:none;
		padding:rem-calc(40) rem-calc(60) rem-calc(40) 0;
	}
	
}


.faq__more {
	margin-top:rem-calc(50);


	@include breakpoint('laptop') {
		&--form {
			margin-top:rem-calc(40);
		}
	}
}