



.index__header {
	text-align: center;

	&--main {
		text-indent:-9999px;
		background:url('#{$headers}thrive.png') center center no-repeat;
		background-size:contain;
		padding-bottom:30.76%;

		@include breakpoint('retina') {
			background-image:url('#{$headers}thrive@2x.png');
		}
	}


	&--main-text h4 {
		font-size:rem-calc(19);
		font-style:italic;
		color:$green;
		line-height:rem-calc(48) !important;
	}

	@include breakpoint('laptop') {
		width:85%;
		margin:auto;
		margin-bottom:rem-calc(160);
	}

	@include breakpoint('desktop') {
		width:60%;
	}
}



.index__weight-loss {
	// background:url('#{$page}index-weight-loss.png') center right no-repeat;
	// background-size:cover;

	// @include breakpoint('retina') {
	// 	background-image:url('#{$page}index-weight-loss@2x.png')
	// }

	// @include breakpoint('portrait') {
	// 	background-position:center center;//code)
	// }
	
	// @include breakpoint('tablet') {
	// 	background-position:center right;
	// }
	
	// @include breakpoint('laptop') {
	// 	background-position:center center;
	// }
}


.index__sports-nutrition {
	background:url('#{$page}index-sports.png') center center no-repeat;
	background-size:cover;

	@include breakpoint('retina') {
		background-image:url('#{$page}index-sports@2x.png');
	}
}


.index__corporate-wellness {
	background:url('#{$page}index-corporate.png') center center no-repeat;
	background-size:cover;

	@include breakpoint('retina') {
		background-image:url('#{$page}index-corporate@2x.png');
	}
}


.index__articles {
	padding-top:rem-calc(60);
	
	
	&--header {
		text-align: center;
		
		h2 {
			color:$secondary-color;
			font-size:rem-calc(42);
			margin-bottom:rem-calc(5);
		}
	}
}


.index__articles--more {
	text-align: center;
	
}

