.maternal__hero {
	background-image: url('#{$page}maternal/maternal-hero-sm.jpg');
	background-position:center right;

	@include breakpoint('tablet') {
		background-image: url('#{$page}maternal/maternal-hero-med.jpg');
	}

	@include breakpoint('laptop') {
		background-image: url('#{$page}maternal/maternal-hero-large.jpg');
	}
}


.maternal__text {
	 text-align: left;
  	 background:$off-white;
  	 position: relative;
	
  	 @include angle(before);

  	 @include breakpoint('tablet') {
  	 	text-align: left;

  	 	&__image  {
  	 		position: absolute;
  	 		overflow:hidden;
			width:span(8 of 12);
			bottom:20%;
			img {width:100%;}
		}
  	 }

  	 @include breakpoint('laptop') {
  	 	&__image {
			width:span(6 of 12);
			bottom:0;
  	 	}
  	 }
}

.maternal__packages {
	padding:rem-calc(40) rem-calc(20);
}