


.post-list__header {
	padding-top:rem-calc(80);

	@include breakpoint('tablet') {
		text-align: center;

		h1 {
			margin-bottom:0;
		}
	}
	

	@include breakpoint('laptop') {
		h2 {
			font-style:italic;
			color:$gray-light;
			margin-top:rem-calc(3);
		}
	}
}



.post-list__types {
	@include clearMP;
	border-top: 1px solid $gray-light;
	padding:rem-calc(20);
	text-align: center;

	li {
		@include clearMP;
		list-style:none;
	}

	@include breakpoint('tablet') {
		li {
			display: inline-block;
			margin-right:rem-calc(20);
		}
	}
}


/*
|--------------------------------------------------------------------------
| Post Styles
|--------------------------------------------------------------------------
|
|
*/


.post-list__post {
	margin-top:rem-calc(50);
	border-top:1px solid $gray-light;


	&:first-child {
		margin-top:0;
	}

	@include breakpoint('tablet') {
		//code)
	}


	@include breakpoint('laptop') {
		margin-top:rem-calc(80);
	}
}



.post-list__title {
	margin-bottom:rem-calc(5);

	@include breakpoint('tablet') {
		
	}

	@include breakpoint('laptop') {
		//code)
	}
}



.post-list__date {
	margin-top:rem-calc(5);
	color:$gray-light;

	@include breakpoint('tablet') {
		font-size:rem-calc(16);	
	}

	@include breakpoint('laptop') {
		//code)
	}
}


.post-list__read-button {
	margin-top:rem-calc(20);

	@include breakpoint('tablet') {
		//code)
	}

	@include breakpoint('laptop') {
		//code)
	}
}



.post-list__summary {
	
	@include breakpoint('tablet') {
		//code)
	}

	@include breakpoint('laptop') {
		//code)
	}
}


.post-list__categories {
	border-top: 1px solid $gray-light;

	li {
		list-style:none;
	}

	@include breakpoint('tablet') {
		//code)
	}

	@include breakpoint('laptop') {
		//code)
	}
}
