.weightloss__header {
	@include retinaImage('#{$page}weightloss_header', 'jpg', cover);
	background-size:cover;
	padding-bottom:51%;
	background-position:center center;

	@include breakpoint('tablet') {
		padding-bottom:39.06%;
	}
}

.weight-loss__packages{
	background:$green-lightest;
	padding:rem-calc(40);
	margin-bottom:0;
}


.weightloss__individual {
	@include retinaImage('#{$page}weightloss_individual', 'jpg', cover);
	background-size:cover;
	background-position:center left;
}



.weightloss__followup {
	@include retinaImage('#{$page}weightloss_followup', 'jpg', cover);
	background-size:cover;
	background-position:center left;
}