.small-phone-only {
	display:block;

	@include breakpoint('large-phone') {
		display:none;
	}
}

.phone-only {
	display:block !important;

	@include breakpoint('tablet') { 
		display:none !important;
	}
}



.tablet-only {
	display:none !important;
	
	@include breakpoint('tablet') {
		display:block !important;	
	}
	@include breakpoint('laptop') {
		display:none;
	}
}


.tablet-up {
	display:none;

	@include breakpoint('tablet') {
		display:block;
	}
}


.hide {
	display:none;
}
