
/*
|--------------------------------------------------------------------------
| Settings for AssetBuilder 6.0	
|--------------------------------------------------------------------------
|
| All setting needed for AssetBuilder.com 6.0. 	
*/

//Colors
$white: #FFF;
$off-white: #f6fafb;
$black: #020000;

$green: #78A22E;
$green-light: #EFF3E5;
$green-gray: #C8DACF;

$blue-dark: #228E95;
$blue: #52C5CD;
$blue-light:#A3DBE3;



$gray: #727272;
$gray-darkest: darken($gray, 40%);
$gray-dark: darken($gray, 20%);
$gray-light: #D8D8D8;
$gray-lightest: #d9d9d9;

$ivory: #F6F5C5;
$ivory-dark: #d2dea4;

$sky: #D6EAED;


$info: $black;
$error: #ff0101;
$standard: #0b567f;
$success: $green;
$warning: #e78512;





/**
 * CDN or Local Paths
 */

@if $dev {    
    $imagePath: '/assets/images';
    $fontPath: '/assets/fonts/';        
   
} @else {
    $imagePath: 'https://s3-us-west-2.amazonaws.com/mcdaniel-staging/images';
    $fontPath: '/assets/fonts/';        
}

//Image Paths
$icon: '#{$imagePath}/icons/';
$hero: '#{$imagePath}/heros/';
$page: '#{$imagePath}/pages/';
$video: '#{$imagePath}/videos/';


/**
 * Base Font Size
*/
$base-font-size: 16;
$base-line-height: 2.5;



/**
 * Grid
 */
$row-width: rem-calc(1120);
$column-gutter: 0.25;
$columns: 12;

$susy: (
  columns: $columns,
  container: $row-width,
  global-box-sizing: 'border-box',
  gutter-position: split
);




/**
 * Media Queries
 * @params  {int}  all numbers set in pixels
 * @params mq: written out media query
 * @params min-width for mobile first media query
*/

$breakpoints: (
	phone:  (
		mq: setRange(0, 768)
	),
	phone-only: (
		mq: setRange(0, 480)
	),
	large-phone:(
		min-width: em-calc(480)
	),
	large-phone-only: (
		mq: setRange(480, 768)
	),
	tablet:  (
		min-width: em-calc(768)
	),
	tablet-only: (
		mq: setRange(768, 1024)
	),
	laptop: (
		min-width: em-calc(1024)
	),
	laptop-only: (
		mq: setRange(1024, 1152)
	),
	desktop: (
		min-width: em-calc(1152)
	),
	medium-desktop: (
		min-width: em-calc(1291)
	),
	large-desktop: (
		min-width: em-calc(1700)
	),
	
	retina: (
		mq: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dppx)"
	),
	landscape: (
		mq:  "(orientation: landscape)"
	),
	portrait: (
		mq: "(max-height: 540px) and (max-width: 665px)"
	)
);


/**
 * Standard fonts sizes for peices that are outside of the heirarchy.
 * @type {[type]}
 */
$font-size-legal: rem-calc(12);
$font-size-small: rem-calc(14);
$font-size: rem-calc(16);
$font-size-medium: rem-calc(18);
$font-size-large: rem-calc(24);
$font-size-xlarge: rem-calc(32);
$font-size-xxlarge: rem-calc(42);
$font-size-absurd: rem-calc(50);


/*
|--------------------------------------------------------------------------
| Font
|--------------------------------------------------------------------------
|
| 
*/

/** Header Styles */
$header-font: 'Source Serif Pro', serif;


/** Body Styles */
$body-font-family: 'Source Serif Pro', sans-serif;
$body-font-color: $black;


/** Z-Index Settings */
$z-layer-range-0: 1;
$z-layer-range-1: 100;
$z-layer-range-2: 200;
$z-layer-range-3: 300;
$z-layer-range-4: 400;
$z-layer-range-5: 500;
$z-layer-range-6: 600;
$z-layer-range-7: 700;
$z-layer-range-8: 800;
$z-layer-range-9: 900;
$z-layer-range-10: 1000;

//Ease-in: 
$cubic: cubic-bezier(.64,.09,.08,1);
$sidebar-cubic: cubic-bezier(.91,.01,.6,.99);


//Progress Spinner
$spinner-size: rem-calc(4);
$spinner: rem-calc(30);
$spinner-speed: 0.8s;



/** Button Settings */
$button-background: $green;
$button-hover: lighten($green, 50%);
$button-color: $white;
$button-font-family: $header-font;
$button-font-size: rem-calc(16);
$button-large-font-size: rem-calc(34);
$button-small-font-size: rem-calc(18);


$input-border-color: $gray;
$input-error-color: $error;
$input-success-color: $success;
$input-focus-color: $success;

$input-disabled-color: rgba(0,0,0, .26);
$input-disabled-solid-color: $gray;

// Radio Buttons
$radio-fill-color: $success;
$radio-empty-color: $gray-light;


/**
 * Social Buttons
 */
$youtube: #ee6c53;
$facebook: #4f7cbe;
$twitter:  #64cdef;
$social-icon-size: rem-calc(45);

/**
 * Model Portfolio Allocation Colors
 */
//AssetBuilder Portfolios
$ab-fixed:#c5dd83;
$ab-large:#a7cf5f;
$ab-small: #8dc63f;
$ab-reit:#78a22f;
$ab-international: #67883d;
$ab-emerging: #556f35;

//Expats Portfolios 
$ex-fixed:#D6EAED;
$ex-large:#A3DBE3;
$ex-small: #7BCED6;
$ex-reit:#52C5CD;
$ex-international: #27B2B9;
$ex-emerging: #228E95;



/**
 * Navigation
 */
$navigation-font-size: rem-calc(20);

/** mobile navigation*/
$burger-color: $white;
$burger-open: $green;
$burger-height: rem-calc(3);
$burger-gutter: rem-calc(5);
$burger-width: rem-calc(25);

/** @sum of burger height and gutter  */
$burger-hg: rem-calc(8);




/**
 * Forms
 */
$form-group-spacing: rem-calc(30);
$placeholder-color:$gray;



/**
 * Lazy Portfolio Colors
 */

$couch-potato-color: #0181ae;
$others-color: #8d1111;
$ben-stein-color: #191773;
$coffee-house-color: #4d3a0f;
$ted-aronson-color: #8a1c6f;
$mad-money-color: #0f5642;
$dr-b-color: #78420c;

