<footer class="article__footer" id="articleFooter">
	<div class="article__footer--close phone-only"><i class="material-icons">close</i></div>
	<div class="row">
		<h4 class="article__footer--title"> Get Fresh Nutrition Articles<small> Delivered to Your Inbox</small> </h4>
		<div class="article__footer--mailchimp">
			 <form id="mailChimpSubscribe">
			 	<div class="input-field">
					<input type="email" name="email" required placeholder="Enter Your Email Address" class="m8 col">
			 		<button type="submit" class="btn waves-effect waves-light z-depth-1" class="col m4">Subscribe</button>
			 	</div>
			 </form>
		</div>
	</div>
</footer>