/*
|--------------------------------------------------------------------------
| Article Sidebar Classes
|--------------------------------------------------------------------------
|
|
*/

/**
 * Wrapper for Sidebar
 * @note actually wraps around entire article and hides the sidebar. 
 */
.sidebar-wrapper {
	position: relative;
	overflow:hidden;
	@include container;
}

/**
 * Sidebar Layout
 */
.m-article-sidebar {
	background:rgba(darken($white, 15%), 0.95);
	position: absolute;
	top:0;
	width:100%;
	height:100%;
	padding:rem-calc(20);
	z-index:$z-layer-range-8;
	@include transformTransition(0.7s $sidebar-cubic);
	@include translateX(100%);


	@include breakpoint('tablet') {
		width:95%;
		right:0;
		padding:rem-calc(20);
	}

	@include breakpoint('laptop') {
		width:85%;
		left:auto;
		right:0;
		
	}

	@include breakpoint('desktop') {
		width:60%;	
	}


	&.open {
		@include translateX(0%);
	}
}

/** Close Button */
.m-article-sidebar__close {
	padding:rem-calc(8);
	float:right;
	margin-top:rem-calc(-8);
	margin-right:rem-calc(0);
	cursor:pointer;

	a {
		color:$black;
		font-size:$font-size-xxlarge;
		text-decoration: none;	
		@extend %font-medium;
	}
	
	

}

/** Search Bar */
.m-article-sidebar__search {
	h4 {
		color:$black;
		@extend %font-light;
		margin-bottom:rem-calc(2);
	}


	.form-group {
		min-height:50px;
		position: relative;
		@extend %clearfix;

		
		input {
			z-index: $z-layer-range-1;
			position: absolute;
			width:100%;
			border:0;
		}

		button {
			color:$black;
			position: absolute;
			right:2%;
			top:rem-calc(-2);
			border:0;
			z-index:$z-layer-range-2;
			font-size:$font-size-xlarge;
		}
	}


	@include breakpoint('tablet') {
		//code)
	}
}

/** Search Restuls */
.m-article-sidebar__search-results {
	@include displayList(block);

	li {
		margin-top:rem-calc(20);
		border-top:1px solid $gray-light;

		mark {
			background:transparent;
		}
	}
	
	&__title {
		a {
			color:$black;
			text-decoration:none;

			&:hover {
				color:$green;
				text-decoration:underline;
			}

			mark {
				color:$green;
			}
		}
	}

	&__author {
		@extend %font-medium;

		span {
			@extend %font-light;
			display: inline-block;
			margin-left:rem-calc(10);
		}
	}

	&__snippet {
		line-height:1.61;
	}

	&__button {
		border-top:0;
		text-align: center;
		padding-top:rem-calc(30);
		
		.button {
			position: relative;
			top:rem-calc(30);
			margin:auto;
		}
	}
}

/** Listing of Categories */
.m-article-sidebar__listing {
	h5 {
		color:$black;
		@extend %font-medium;
	}

	ul {@include clearMP;}
	
	li {
		list-style:none;

		
		
		.fa-check {
			margin-left:-18px;
		}

		a {
			color:$black;
			text-decoration: none;
		}


	}

	@include breakpoint('tablet') {
		margin-top:rem-calc(100);
		border-top:1px solid $gray-light;
		@include span(4 of 12);
		&:last-child {@include last;}

		li {
			margin-left:rem-calc(10);
		}
	}
}
