.m-contact-form {
	@include clearfix;
}


.contact__success {
	font-size:rem-calc(16);
	color:$green; 
	@include clearfix;
	text-align: center;

	@include breakpoint('laptop') {
		width:span(8 of 12);
		margin:auto !important;
	}
}