/*
|--------------------------------------------------------------------------
| Styles for Flash Directive
|--------------------------------------------------------------------------
|
|
*/

/**
 * Main Flash Container
 */
.m-flash {
	z-index:$z-layer-range-10;
	position:fixed;
	bottom:0;
	padding:auto rem-calc(20) auto rem-calc(20);
	width:100%;
	@include transformTransition(0.4s);
	@include translateX(-200%);
	max-width:rem-calc(600);


	

	/** Info Alert*/
	&.info {
		background:rgba($info, 0.8);
	}

	/** Success Alert */
	&.success {
		background:rgba($success, 0.8);
	}

	/** Error Alert */
	&.error {
		background:rgba($error, 0.8);
	}

	&.warning {
		background:rgba($warning, 0.8);
	}

	&.open {
		@include translateX(0);
	}

	
	@include breakpoint('tablet') {
		bottom:rem-calc(10);
		left:rem-calc(10);
		width:60%;
	}


	@include breakpoint('laptop') {
		width:35%;
	}


}


.m-flash__wrapper {
	position: relative;
}


.m-flash__close {
	font-size:$font-size-xlarge;
	position: absolute;
	right:rem-calc(10);
	top:rem-calc(0);
	cursor:pointer;

	.info & {
		color:darken($info, 20%);	
	}

	.success & {
		color:darken($success, 20%);	
	}

	.error & {
		color:darken($error, 20%);
	}

	.warning & {
		color:darken($warning, 20%);	
	}
}


.m-flash__heading {
	color:$white;
	padding-left:rem-calc(20);
	padding-right:rem-calc(20);
	font-size:$font-size-small;


	@include breakpoint('tablet') {
		float:left;
		padding-left:rem-calc(40);
		padding-right:rem-calc(40);
		font-size:$font-size-medium;	
	}
}


.m-flash__action {
	padding-left:rem-calc(10);
	padding-right:rem-calc(10);
	
	float:left;
	
	button {
		background:rgba($white, 0.9);
		border:0;
		font-size:$font-size-medium;

		&:hover {
			background:darken($white, 10%);
		}

		.info & {
			color:$info;
		}

		.success & {
			color:$success;
		}

		.error & {
			color:$error;
		}

		.warning & {
			color:$warning;
		}
	}

	@include breakpoint('tablet') {
		position: relative;
		top:rem-calc(15);
	}

	@include breakpoint('laptop') {
		top:rem-calc(10);
		padding-left:rem-calc(40);
	}
}


