/*
|--------------------------------------------------------------------------
| Knowledge Center Action Bar Styles
|--------------------------------------------------------------------------
|
| Styles for action bar to sort or search articles
*/


.m-knowledge-bar__wrapper {
	@include container;
	padding:rem-calc(20);

	

	a {
		text-align: right;
		color:$gray;
	}
}


.m-knowledge-bar__left {
	@include breakpoint('tablet') {
		@include span(6 of 12);
	}
}


.m-knowledge-bar__right {
	a {
		text-align: right;
		float:right;
	}
	@include breakpoint('tablet') {
		@include span(6 of 12 last);

		a {
			display: block;
			margin-top:rem-calc(20);
		}
	}
}



