.m-lazy--portfolio-action-bar	 {
	
}

.m-lazy-buttons {
	@include span(12 of 12);

	ul, li { @include clearMP;}
	
	ul {
		// text-align: right;

		li {
				list-style:none;
				display: inline-block;
		}
	}

	.button {
		width:100%;
	}


	.dropdown {
		
		background:$gray-light;
		

		li {
			display: block;

			a.active{
				background:$white;
				color:$gray;
			}
		}
	}

	

	@include breakpoint('tablet') {
		@include span(6 of 12);
		@include push(6 of 12);

		ul { 
			text-align: right;
		}

		ul li ul {text-align: left;}

		.button {width:auto;}


	}
}