


.navigation {
	position: fixed;
	z-index:$z-layer-range-10;
	width:100%;
	top:0;
	@include transition(transform $cubic 0.4s);
	
	@include breakpoint('tablet') {
		position: absolute;
		height:rem-calc(80);
		background:transparent;
		margin:auto;
	}


	.nav-fixed & {
		position: fixed;
		top:0;
		background:rgba($off-white, 0.96);
		animation: menuDown 0.4s forwards;
		border:2px solid $white;

	}
}


.navigation__row {
	@include breakpoint('laptop') {
		@include container;
	}
}

.nav-open {
	position: fixed;
	width:100%;
	height:100vh;
}


@keyframes menuDown {
	to {
		@include translateY(0);
	}
	from {
		@include translateY(-100%);
	}
}


/*
|--------------------------------------------------------------------------
| Logo
|--------------------------------------------------------------------------
|
| Description 1
|  Description 2
| 
|
*/
.site-branding {
	@include span(4 of 12);
	background-size:contain;
	background-repeat:no-repeat;
	text-indent:-9999px;
	height:rem-calc(88);
	margin-top:rem-calc(10);
	z-index:11000;
	margin-left:rem-calc(20);

	background-image:url('#{$icon}logo-white.png');

	
	@include breakpoint('retina') {
		background-image:url('#{$icon}logo-white@2x.png')			
	}		

	
	&.blog {
		background-image:url('#{$icon}blog-logo-white.png');
		height:rem-calc(60);
		background-position:center center;
		
		@include breakpoint('retina') {
			background-image:url('#{$icon}blog-logo-white@2x.png')			
		}

		.black & {
			background-image:url('#{$icon}blog-logo-color.png') !important;

			@include breakpoint('retina') {
				background-image:url('#{$icon}blog-logo-color@2x.png') !important;			
			}				
		}			
	}

	.open &, .nav-fixed & {
		background-image:url('#{$icon}logo.png');

		@include breakpoint('retina') {
			background-image:url('#{$icon}logo@2x.png')
		}
	}

	@include breakpoint('phone-only') {
		position: fixed;
	}

	

	@include breakpoint('tablet') {
		@include span(2 of 12);
		height:rem-calc(68);
		margin-top:rem-calc(5);
		margin-left:0;
		position: relative;
		
	
		.open & {
			background-image:url('#{$icon}logo-white.png');

			@include breakpoint('retina') {
				background-image:url('#{$icon}logo-white@2x.png')			
			}			
		}
	}

	@include breakpoint('laptop') {
		margin-top:0;
		cursor:pointer;
	}
}


/*
|--------------------------------------------------------------------------
| Navigation Menu
|--------------------------------------------------------------------------
|
| Description 1
|  Description 2
| 
|
*/

.main-navigation {
	position: fixed;
	background:rgba($off-white, 0.96);
	width:100%;
	height:100vh;
	top:0;

	@include transition(transform $sidebar-cubic 0.4s);
	@include translateX(-100%);
	

	&__menu {
		@include span(12 of 12);
		margin-top:rem-calc(100);
		margin-left:rem-calc(20);
		text-align: left;
		width:80%;
	}

	&__cta {
		clear:both;
		text-align: left;
		margin-left:rem-calc(20);
	}

	.open & {
		@include translateX(0);
	}

	@include breakpoint('tablet') {
		background:none;
		position: relative;	
		height:auto;
		@include span(10 of 12);
		@include translateX(0);

		&__menu {
			@include span(7 of 10);
			margin-top:rem-calc(25);
			text-align: center;
		}

		&__cta {
			@include span(3 of 10);
			margin-left:0;
			clear:none;
			text-align: right;
		}
	}

	@include breakpoint('laptop') {
	
	}	
}


/*
|--------------------------------------------------------------------------
| Menu
|--------------------------------------------------------------------------
|
|
*/

.main-navigation__menu {
	li {
		text-transform: uppercase;
		font-size:rem-calc(16);
	}

	.nav-fixed & {
		li a {
			color:$black;
		}
	}

	@include breakpoint('tablet') {
		
		li {
		  font-size:rem-calc(14);
		  margin-right:rem-calc(10);
		  a { color:$white; }

		  .black & {
		  	a { color:$black; }
		  }
		}
	}

	@include breakpoint('laptop') {
		li {
			margin-right:rem-calc(20);
		}
	}
}

.dropdown-trigger {
	position: relative;

	&:hover {
		.dropdown-menu {
			display:block;
		}
	}


}

.dropdown-menu {
	display:none;

	li {
		padding-left:rem-calc(20);
		text-align: left;
	}

	@include breakpoint('tablet') {
		position: absolute;
		width:rem-calc(200);
		text-align: center;

		ul, li {
			@include clearMP;
		}

		
		li {
			display: block;
			margin-bottom:1px;
			
			a {
				display: block;
				width:100%;
				background:rgba($white, 0.96);
				padding:rem-calc(5) rem-calc(10); 
				color:$black;

				&:hover {
					background:$green;
					color:$white;
				}
			}
		}
	}
}

/*
|--------------------------------------------------------------------------
| Call To Action
|--------------------------------------------------------------------------
|
|
*/
*
.main-navigation__cta {
	.button {
		margin-left:0;
	}

	@include breakpoint('tablet') {
		.button {
			margin-top:rem-calc(20);
			background:$white;
			border:transparent;
			
			a { 
				color:$black; 
			} 

			.nav-fixed & {
				background:$green;
				a {
					color:$white;
				}	
			}
		}
	}
}


.navigation__menu {
	@include burger;
	position: fixed;
	top:rem-calc(20);
	right:rem-calc(20);
	z-index:1100;
	@include transition(backgroundColor ease-in 0.4s);

	.active & {
		@include burger-to-cross
	}
}


/*
|--------------------------------------------------------------------------
| Line Navigation Button
|--------------------------------------------------------------------------
|
|
*/
//Plus and Minus Icons for Faq;
//Nav Constants
$button-size: 1.5rem; 
$transition: .3s;
$white: #FFF;


//Nav Mixins
@mixin line($color) {
  display: inline-block;
  width: $button-size;
  height: $button-size/7;
  background:$color;
  border-radius: $button-size/14; 
  transition: $transition;
}



.lines { 
  @include line($green); 
  
  &:before, &:after { 
	@include line($green);
	position: absolute;
	left:0;
	content: '';
	transform-origin: $button-size/14 center; 
  }
  
  &:before {  
  	top: $button-size/4; 
  }
  
  &:after {
  	top: -$button-size/4; 
 } 
}


.lines-button.close {
	transform: scale3d(.8,.8,.8);
}

.lines-button.x.close { 
  
  .lines {background: transparent; 
    &:before, &:after{
      transform-origin: 50% 50%;
      top:8px;
      width: $button-size;
      background:$white;
      margin-top:rem-calc(-8);
    }
    
    &:before{
        transform: rotate3d(0,0,1,45deg); 
    }
    
    &:after{
      	transform: rotate3d(0,0,1, -45deg); 
    }
  }
}