.pagination {
	@include clearMP;
	margin-top:rem-calc(40);
	margin-bottom:rem-calc(20);
	
	li {
		list-style:none;
		display: inline-block;

		height:rem-calc(30);
		width:rem-calc(30);
		position: relative;
		
		// border: 1px solid #000;

		a, span {
			position: absolute;
			@include center(xy)
			text-decoration: none;
			font-size:rem-calc(18);
			font-family:$body-font-family;
		}

		&.disabled {
			a, span {
				color:$gray-light;
			}
		}

		&.active {
			background:$green;
			a, span {
				color:$white;
			}
		}
	}
}