.m-portfolio-performance {
	
	h3 {
		@extend %font-light;
	}

	.m-portfolio-performance-results {
		margin:auto;
		width:auto;
	}

	@include breakpoint('tablet') {
		&.lazy  {
			.m-portfolio-performance-results {
				position: relative;
				left:9%;
			}
		}
	}
}


/**
 * Portfolio Results Table - Done as List items for mobile
 */
.m-portfolio-performance-results {
	@include clearMP;
	
	
	h3 {
		text-align: center;
	}

	li {
		list-style: none;
		clear:both;

		
		
		span {
			margin-top:rem-calc(10);
			padding: rem-calc(10);
			@include span(6 of 12);

			&.performance-top-label {
				border-right:1px solid $green;
				line-height:1.61;
				padding-right:rem-calc(20);
			}

			&.performance-bottom-result {
				font-size:$font-size-xlarge;
				text-align: right;
				padding-top:rem-calc(20);
				padding-right:10%;
			}
			
	
		}
	}

	@include breakpoint('tablet') {
		display: table;
		
		h3 {text-align: left;}


		li {
			padding: rem-calc(10) rem-calc(5);
			clear:none;
			@include span(2 of 12);
			border-right:rem-calc(1) solid $ivory-dark;
			display: table-row;

			span {
				@include clearMP;
				display: block;
				width:90%;
				text-align: center;
				margin-top:0;

				&.performance-top-label {
					border-bottom:1px solid $ivory-dark;
					border-right:0;
					line-height:1.2;
					min-height:rem-calc(120);
					padding-right:rem-calc(5);
				}

				&.performance-bottom-result {
					
					text-align: center;
					
					padding-top:rem-calc(20);
				}
			}
		}
	}

	@include breakpoint('laptop') {
		li span.performance-top-label {
			min-height:rem-calc(80);
		}
	}
}



