/*
|--------------------------------------------------------------------------
| Portfolio Color
|--------------------------------------------------------------------------
|
| Colors for all the portfolios
|
*/



/**
 * Setup Colors For Lazy Portfolios PieCharts
 * @param  {hex} $mainColor 
 */
@mixin replacePieCharts($main-color) {
	//PieCharts
	.pieChart {
		&__emerging-markets {
			fill: $main-color;
		}

		&__fixed-income {
			fill: lighten($main-color, 60%);
		}

		&__us-mid {
			fill: lighten($main-color, 50%);	
		}

		&__us-large {
			fill: lighten($main-color, 40%);
		}

		&__us-small {
			fill: lighten($main-color, 30%);
		}

		&__reit {
			fill: lighten($main-color, 20%);
		}

		&__international {
			fill: lighten($main-color, 10%);
		}

		&__specialty-market {
			fill: darken($main-color, 10%);
		}

		&__label__percentage {
			fill: $main-color;
		}

		&__label__assetClass {
			fill: $main-color;
		}

		&__portfolio-name-label--fo {
			color:$main-color;
		}
	
		&__portfolio-name-label--ie {
			fill: $main-color;
		}

	}
}


/**
 * Replace the Performance sections for Lazy Portfolios
 * @param  {hex} $main-color 
 */
@mixin replacePerformance($main-color) {
	//Change the Performance Background Color
	.m-portfolio-performance {
		background:lighten($main-color, 55%);
	}

	.m-portfolio-performance-results li {
		span.performance-top-label {
			border-right:1px solid $main-color;
		}

		@include breakpoint('tablet') {
			border-right:1px solid $main-color;

			span.performance-top-label {
				border-right:0;
				border-bottom:1px solid $main-color;
			}
		}
	}

	.m-portfolio-disclosure {
		background:lighten($main-color, 55%);
	}
}
	

/**
 * Replace the Slider for Lazy Portfolios
 * @param  {hex} $main-color 
 */
@mixin replaceSlider($main-color) {
	//Change the Dots
	.m-portfolio-dots {
		a {
			border: 1px solid $main-color;
			&.selected {background:$main-color;}
		}
	}

	//Change the Move Buttons
	.m-portfolio-move-button {
		.button__next, .button__prev {
			i {
				color:$main-color;
				&:hover {
					background:$main-color;
					color:$white;
				}
			}
		}
	}
}	


@mixin replaceAllocations($main-color) {
	.m-portfolio-allocation li {color:$main-color;}
}
	
	
@mixin loadPortfolioChanges($main-color) {
	@include replacePieCharts($main-color);
	@include replaceSlider($main-color);
	@include replacePerformance($main-color);
	@include replaceAllocations($main-color);
}

	
/*
|--------------------------------------------------------------------------
| Replacing
|--------------------------------------------------------------------------
| 
|  AssetBuilder Porfolios are Set for their own color pallet.  The rest are based
|  off SASS darken and lighten functions
|
*/






/** AssetBuilder Portfolios */
.ABP {
	.pieChart{
		&__fixed-income {
			fill: $ab-fixed;
		}

		&__us-large {
			fill: $ab-large;
		}

		&__us-small {
			fill: $ab-small;
		}

		&__reit {
			fill: $ab-reit;
		}

		&__international {
			fill: $ab-international;
		}

		&__emerging-markets {
			fill: $ab-emerging;
		}

		&__portfolio-name-label--fo {
			color:$green;
		}

		&__portfolio-name-label--ie {
			fill:$green;
		}
	}
	
}


/** AssetBuilder ETF Portfolios */
.ABE {
	.pieChart{
		&__fixed-income {
			fill: $ex-fixed;
		}

		&__us-large {
			fill: $ex-large;
		}

		&__us-mid {
			fill: $ex-small;
		}
 
		&__us-small {
			fill: $ex-small;
		}

		&__reit {
			fill: $ex-reit;
		}

		&__international {
			fill: $ex-international;
		}

		&__emerging-markets {
			fill: $ex-emerging;
		}

		&__label__percentage {
			fill: $blue;
		}

		&__label__assetClass {
			fill: $blue;
		}

		&__portfolio-name-label--fo {
			color:$blue;
		}

		&__portfolio-name-label--ie {
			color:$blue;
		}
	}

	@include replaceSlider($blue);
	@include replacePerformance($blue);
	@include replaceAllocations($blue);

	.m-portfolio-performance {
		background:$sky;
	}

	.m-portfolio-disclosure {
		background:$sky;
	}
}


/** Other Portfolios */
.OTH {
	@include loadPortfolioChanges($others-color);
}


/** Ben Stine Portfolios */
.BSP {
	@include loadPortfolioChanges($ben-stein-color);
}

/** Coffee House Portfolios */
.CHP {
	@include loadPortfolioChanges($coffee-house-color);
}

/** Ted ARonson Portfolios */
.TAP {
	@include loadPortfolioChanges($ted-aronson-color);
}

/** Mad Money Maching Portfolios */
.MMM {
	@include loadPortfolioChanges($mad-money-color);
}


/** Dr. Bernstine's Portfolios */
.DRB {
	@include loadPortfolioChanges($dr-b-color);
}


/** Couch Portfolio Portfolios */
.CPP {
	@include loadPortfolioChanges($couch-potato-color);
}



