.random-returns {
      &.white-out {
           
      }
}



.random-returns__column {
      @include clearMP;
      @include breakpoint('tablet') {
            @include span(1 of 13 no-gutters);

            // &:last-child {
            //       @include last();
            // }
      }

      li {
            list-style:none;
            cursor:pointer;
      }
}


.random-returns__asset-class--title {
      border-bottom:1px solid $gray;
      text-align: center;
}

.random-returns__block {
      border: 1px solid $white;
      
      span {
            color:$white;
            display: inline-block;
            width:100%;
            text-align: center;
      }

      i {
            font-size:80%;
      }
}

.asset-tooltip {
      position: absolute;
      z-index:$z-layer-range-3;
      background:$gray-dark;
      font-size: rem-calc(14);
      color:$white;
      padding:rem-calc(20);
      margin-top:rem-calc(-180);
      margin-left:rem-calc(-60);
      box-shadow:0 0 2px rgba($black, 0.4);

      span {
            display: block;
            text-align: center;
      }

      .tooltip_name {
            font-size:rem-calc(18);
            display: block;
            margin-bottom:0;
      }

      .tooltip_full_name {
            color:$white;
            font-size:rem-calc(12);
            margin-top:rem-calc(-10);
      }

      &:after {
            content:"";
            position: absolute;
            bottom:rem-calc(-20);
            @include center(x);
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            border-top: 20px solid $gray-dark;

      }
}


.random-returns__key {
      @include clearMP();
      @include breakpoint('tablet') {
            @include clearMP;
            margin-top:rem-calc(20);
            margin-bottom:rem-calc(60);
            
            li {
                 @include gallery (4 of 12);
                 list-style:none;

                  span {
                        display: inline-block;
                        margin-right:rem-calc(10);
                        width:rem-calc(20);
                        height:rem-calc(20);
                  }
            }

           
      }
}


@mixin randomBlockColor($color) {
      background-color:$color;

      .white-out &{
            opacity:0.2;
      }

      &.active  {
            opacity:1;
            background-color:darken($color, 5%);
      }
}


// $us-large-cap: #2B3E50;

.us-large-cap {
     @include randomBlockColor(#2B3E50);
}
.us-large-cap-growth {
     @include randomBlockColor(#3d5871);
}
.us-large-cap-value {
     @include randomBlockColor(#466582);
}
.us-small-cap-growth {
     @include randomBlockColor(#678bad);
}
.us-small-cap-value {
     @include randomBlockColor(#99b1c8);
}
.us-micro-cap {
     @include randomBlockColor(#965BA4);
}
.us-real-estate {
     @include randomBlockColor(#c09dc8);
}
.international-small-cap-value {
     @include randomBlockColor(#ECC41B);
}
.international-small-cap-growth {
     @include randomBlockColor(#957b0c);
}
.emerging-markets-large-cap-value {
     @include randomBlockColor(#49A086);
}
.emerging-market-small-cap {
     @include randomBlockColor(#64b89f);
}
.one-year-us-fixed {
     @include randomBlockColor(#3F81B9);
}
.five-year-us-government-fixed {
     @include randomBlockColor(#629ac9);
}
.five-year-global-fixed {
     @include randomBlockColor(#E34B3D);
}
.two-year-global-fixed {
     @include randomBlockColor(#e9746a);
}
