.m-survey-form {
	// overflow-y:hidden;
	background:$gray-lightest;
	
	&.module {
		display:none;
	}

	// .row:last-child {
	// 	margin-top:rem-calc(40);
	// }
	
	
	text-align: center;
	@include transition(all ease-in-out 1s);

	h2, h4 {
		text-align: center;
	}

	h2 {
		color:$gray; 
		margin-top:0;
		@include font-medium;
	}


	.slider-container {
		margin:rem-calc(60) auto;
		border:1px solid $gray-lightest;
		
		@include breakpoint('tablet') {
			margin:auto;
		}
	}
	

	


	.survey-second-row {
		@include breakpoint('tablet') {
			margin-top:rem-calc(60);
		}
	}

	

	label {
	
	}

	@include breakpoint('tablet') {
		overflow-y:auto;

		h4 { 
			width:80%; 
			margin:auto;
		}
		
		section {
				@include span(6 of 12);
				&:last-child {
					@include last;
				}
		}
	}
}