/*
|--------------------------------------------------------------------------
| Survey Overlay Styles
|--------------------------------------------------------------------------
|
| found on our-portfolios page
|
*/

/** Starting */
.m-survey-overlay {
	opacity:0;
	position: absolute;
	padding:rem-calc(20);
	width:100%;
	top:0;
	left:0;
	visibility:hidden;
	background:rgba($gray-lightest, 0.96);
	@include perspective(rem-calc(1000));
	@include scale(0.8);
	@include transition(transform ease-in 0.4s, opacity ease-in 0.2s, background-color ease-in 0.4s);
	
	form .row {
		margin-top:rem-calc(20);
	}	

	form .row section {
		visibility: hidden;
		@include transformTransition(ease-in 0.2s);
		&:nth-child(1) {
			@include translate3d(15px, 0, 0 );		
		}

		&:nth-child(2) {
			@include translate3d(-10px, 0, 0 );		
		}
	}

	@include breakpoint('tablet') {
		border:rem-calc(20) solid white;
	}


}

/** Ovrlay Open */
.m-survey-overlay.open {
	opacity:1;
	position: fixed;
	width:100%;
	height: 100%;
	visibility: visible;
	top:0;
	left:0;
	
	z-index:10003;
	overflow-y:scroll;
	-webkit-overflow-scrolling: touch;

	@include scale(1);
	@include perspective(1000px);


	form .row section {
		visibility: visible;
		@include transformTransition(ease-in 0.1s);
		&:nth-child(1) {
			@include translate3d(0, 0, 0 );		
		}

		&:nth-child(2) {
			@include translate3d(0, 0, 0 );			
		}
		
		
	}
}	