

.footer__social-icon-row {
	background:$green-lightest;
	padding:rem-calc(20);
	text-align: center;
	margin-bottom:0 !important;

	ul {
		@include clearMP;
		text-align: center;
		margin:auto;
		float:none !important;

		li {
			list-style:none;
			display:inline-block;
			margin-left:rem-calc(20);

			a {
				font-size:rem-calc(32);
			}
		}
	}
}


.footer__contact {
	background:$gray-lightest;
	text-align: center;
	padding:rem-calc(20);
	margin-top:0;


	div {
		margin:auto;
	}

	.copyright {
		font-size:rem-calc(12);
	}
}