

.full-screen-fixed {
	height:80vh;
	background:rgba($green, 0.5);
	overflow:hidden;
	position: relative;


	@include breakpoint('portrait') {
		height:100vh;
	}

	@include breakpoint('tablet') {
		height:100vh;
	}


	@include breakpoint('laptop') {
		//code)
	}

	&__diagonal {
		background:$white;
		@include rotate(20deg);
		z-index:$z-layer-range-1;
		width:400%;
		height:80%;
		
		position: absolute;
		bottom:-10%;
		left:-200%;

		@include breakpoint('portrait') {
			bottom:-10%;
			left:-175%;
		}

		@include breakpoint('tablet') {
			bottom:-30%;
			left:-200%;
		}

		@include breakpoint('laptop') {
			bottom:-10%;
		}
		
	}

	&__text {
		z-index:$z-layer-range-10;
		position: absolute;
		bottom:8%;
		left:0;
		right:0;

		@include breakpoint('portrait') {
			width:50%;
			margin-left:rem-calc(20);
			right:auto;
		}

		@include breakpoint('tablet') {
			//code)
		}

		@include breakpoint('laptop') {
			bottom:8%;
			width:75%;
		}
	}

}