/*
|--------------------------------------------------------------------------
| Attribute and Animations
|--------------------------------------------------------------------------
|
|
*/

$nav-length-phone: 80%;
$nav-length-tablet: 85%;
$nav-length-laptop: 70%;

$menu-height: rem-calc(65);
$content-bump: rem-calc(70);

@keyframes navTopDown {
	0% {
		@include translateY(-100%);
	}
	100% {
		@include translateY(0);
	}
}

/*
|--------------------------------------------------------------------------
| Overall Body Changes
|--------------------------------------------------------------------------
|
| Description 1
|  Description 2
| 
|
*/
body.nav-open {
	position: fixed;
	height:100%;
	width:100%;
	overflow:hidden;

	@include breakpoint('tablet') {
		position: inherit;
		height:auto;
		width:auto;
		overflow:visible;

	}
}

body.nav-fixed, body.glued {
	
	
	@include breakpoint('tablet') {
		margin-top:rem-calc(75);	
	}

	@include breakpoint('laptop') {
		margin-top:rem-calc(70);
	}
}


//Reset some shitty stuff. 
nav {
	box-shadow:none !important;

	ul {
		@include clearMP;
	}

	li {
		@include clearMP;
		list-style:none;
	}
}


/*
|--------------------------------------------------------------------------
| Quick Navigation
|--------------------------------------------------------------------------
|
|
*/
.quick-navigation {
	
	@include breakpoint('tablet') {
		margin:auto;
		width: $nav-length-tablet;
	}

	@include breakpoint('laptop') {
		margin:auto;
		width:$nav-length-laptop;
	}
}


.quick-navigation__logo {
	margin-top:rem-calc(50);
	margin-bottom:rem-calc(-50);

	@include breakpoint('tablet') {
		margin-top:rem-calc(90);
		margin-bottom:rem-calc(30);
	}

	.glued & {
		display:none;
	}

}


.quick-navigation__started {
	display: none;

	@include breakpoint('tablet') {
		display: block;
		float:right;
		margin-right:rem-calc(40);
		margin-top:rem-calc(-150);
	}

	.glued & {
		display:none;
	}
}


.hamburger {
	position: fixed;
	top:2%;
	right:2%;
	z-index:99999;
	
	@include breakpoint('tablet') {
		display: none;

		.nav-fixed &, .glued & {
			display: block;
			top:1%;	
			@include translateY(-100%);
		}
	}

	@include breakpoint('laptop') {
		.nav-fixed &, .glued & {
			display:none;
		}
	}
}

.in-view .hamburger {
	-webkit-animation-name: navTopDown;
 	-webkit-animation-duration:0.4s;
 	-webkit-animation-delay:0s;
 	-webkit-animation-iteration-count: 1;
 	-webkit-animation-timing-function:$cubic;
 	-webkit-animation-fill-mode: forwards;
}



/*
|--------------------------------------------------------------------------
| Main Navigation
|--------------------------------------------------------------------------
|
| 
|
*/




//Modal for Phone
.navigation__modal {
	&.is-active {
		position: fixed;
		top:0;
		left:0;
		height:100%;
		width:100%;
		background:rgba($black, 0.6);
	}
}




//Main Navigation
.main-navigation {
	background:$white;
	box-shadow: 10px 0px 3px rgba($black, 0.3);
	width:$nav-length-phone;
	position: fixed;
	top:0;
	height:100vh;
	overflow:scroll;
	-webkit-overflow-scrolling:touch;
	z-index:$z-layer-range-10;

	

	
	@include transition(transform $sidebar-cubic 0.4s);
	@include translateX(-100%);

	&.is-active {
		@include translateX(0);
	}
	
	li {
		display:block;
		width:100%;
		float:none;
		font-size:rem-calc(15) !important;
		font-family:$heading-font-family !important;
		font-style:italic;

		a {
			width:100%;
			padding-top:rem-calc(10);
			padding-bottom:rem-calc(10);
		}
	}
}


//Tablet and Up
@include breakpoint('tablet') {
	.main-navigation {
		@include translateX(0);
		box-shadow:none;
		text-align: center;
		background:none;
		position: relative;
		width:$nav-length-tablet;
		height:auto;
		margin:0 auto;
		overflow:visible;
		
		> ul {
			border-bottom: rem-calc(2) solid $green;	
			@include clearfix;
			list-style-type:none;
			text-align: center;
		}

		> ul > li {
			display:inline-block;	
			width:auto;


			> a:hover {
				background:none;
				
			}
		}

		
	}


	.main-navigation.fixed, .main-navigation.glued  {
		position: fixed;
		width:100%;
		background:rgba($white, 0.9);
		box-shadow:0 0 3px rgba($black, 0.3);
		border-bottom:1px solid $gray-lightest;
		@include translateY(-100%);
		display: none;

		> ul {
			border:none;
			text-align: left;
			@include clearMP;
			@include transition(transform $sidebar-cubic 0.4s);
			@include translateX(100%);

			> li:first-child {
				margin-left:rem-calc(0);
			}
		}

		.main-navigation__logo {
			@include transition(opacity $sidebar-cubic 0.4s);
			opacity:1;
		}

		.main-navigation__started {
			@include transition(opacity $sidebar-cubic 0.4s);
			opacity:1;
		}


		&.is-active {
			.main-navigation__logo, .main-navigation__started {
				opacity:0;
			}


			ul {
				@include translateY(0);
			}
		}

		&.in-view {
			display: block;
			-webkit-animation-name: navTopDown;
		 	-webkit-animation-duration:0.4s;
		 	-webkit-animation-delay:0s;
		 	-webkit-animation-iteration-count: 1;
		 	-webkit-animation-timing-function:$cubic;
		 	-webkit-animation-fill-mode: forwards;
		}

	}
}



@include breakpoint('laptop') {
	.main-navigation {
		width:$nav-length-laptop;
	}


	.main-navigation.fixed {

		> ul {
			text-align: center;
			@include translateX(0);

			>li:first-child {
				margin-left:rem-calc(-0);
			}
		}

	}
}





//Logo for Phone
.main-navigation__logo {
	@include clearfix;
	float:left;
	width:auto;
	cursor:pointer;
	z-index:100000;
	position: absolute;
}

.main-navigation__logo .logo {
	background-position:top left;
	margin-bottom:rem-calc(10);
	margin-left:rem-calc(10);
	cursor:pointer;
	z-index:$z-layer-range-10;

	@include breakpoint('tablet') {
		display: none;

		.fixed & {
			display: block;
			float:left;
			height:rem-calc(50);
			width:rem-calc(80);
			margin-top:rem-calc(14);	
			margin-left:rem-calc(10);
		}
	}
}


.main-navigation__started {
	width:auto !important;
	margin-left:rem-calc(11);
	margin-top:rem-calc(5);
	
	@include breakpoint('tablet') {
		display: none;
		
		.fixed & {
			position: absolute;
			right:0;
			margin-right:rem-calc(120);
			display: block;
		}
	}

	@include breakpoint('laptop') {
		.fixed & {
			margin-right:rem-calc(20);
		}
	}
}






/*
|--------------------------------------------------------------------------
| Dropdowns
|--------------------------------------------------------------------------
|
|
*/


//Add arrow after dropdown
.Dropdown__trigger {


	@include breakpoint('tablet') {
		margin-top:rem-calc(-10);


		&:hover {
			.Dropdown__content {
				top:auto;
				left:auto;
			}
		}
	}


	
}


.Dropdown__link {
		&:after {
		font-family: 'Material Icons';
		content: "keyboard_arrow_down";
		position: relative;
		top:rem-calc(2);
		margin-left:rem-calc(5);
		-webkit-font-feature-settings: 'liga';	
	}
}


//Dropdown Boxes.  
.Dropdown__content {
	
	display:none;
	
	li {
		a {
			display: block;
			padding-left:rem-calc(30);
		}
	}


	@include breakpoint('tablet') {
		display: block;
		position: absolute;
		top:-9990px;
		left:-9990px;

		background:$white;
		box-shadow: 0 2px rem-calc(3) rgba($black, 0.4);
		// margin-top:rem-calc(12);

		li {
			display: block;
			width:100%;
			text-align: left;
			border-bottom:1px solid $gray-lightest;
		}

		&.is-active {
			top:auto;
			left:auto;
		}
	}


}





