

.logo {
	margin:auto;
	background:url('#{$icon}logo.png') center center no-repeat;
	background-size:contain;
	height:rem-calc(55);
	width:rem-calc(190);
	text-indent: -9999px;
	
	a {
		text-indent: -9999;
	}

	@include breakpoint('retina') {
		background-image: url('#{$icon}logo@2x.png');
	}

	&.white-logo {
		background:url('#{$icon}logo-white.png') top left no-repeat;
		background-size:contain;
		
		@include breakpoint('retina') {
			background-image: url('#{$icon}logo-white@2x.png');
		}

	}
}


.button-group {
	div {
		float:left;

		.btn-flat, .btn {
			padding:rem-calc(11);
			margin-right:rem-calc(10);
			margin-top:rem-calc(-5);
		}
	}
}


.sitewide_content_wrapper {
	

	@include breakpoint('tablet') {
		margin-top:rem-calc(20);
	}
}



