body.is-subnav {
	@include breakpoint('tablet') {
		margin-top:rem-calc(123);
	}
	
}


nav.subnav {
	display:none;
	

	@include breakpoint('tablet') {
		display:block;
		background:$green-lightest;
		position: fixed;
		top:rem-calc(69);
		@include clearMP;
		line-height:0 !important;
		height:auto !important;
		z-index:$z-layer-range-9;
		
		ul.table-of-contents {
			@include clearMP;
			text-align: center;
			
			
			li {
				@include clearMP;
				float:none;
				display: inline-block;
		
				a {
					display: block;
					color:$green;
					padding:rem-calc(20) rem-calc(20) rem-calc(36) rem-calc(20);
				}

				a.active, a:hover {
					background:none;
					border-left:none;
					border-bottom:2px solid $green;
				}
			}
		}

	}

	
}