.jslider.vertical .jslider-bg i,
.jslider.vertical.sliderCSS .jslider-bg i,
.jslider.vertical.sliderCSS .jslider-pointer { background-color: silver; background-image: none }


.jslider.vertical { display: block; width: 17px; height: 100%; position: relative; top: 0.6em; font-family: Arial, sans-serif; }
.jslider.vertical table { height: 100%; border-collapse: collapse; border: 0; }


.jslider.vertical table,
.jslider.vertical table tr, 
.jslider.vertical table tr td { height: 100%; vertical-align: top; }


.jslider.vertical .jslider-label { margin-left: 22px; top: -5px;}
.jslider.vertical .jslider-label-to { margin-top: -5px; top:100%; left: inherit; right: inherit;}

.jslider.vertical .jslider-bg { position: relative; height:100%;}
.jslider.vertical .jslider-bg i { width: 5px; position: absolute; font-size: 0; top: 0; }
.jslider.vertical .jslider-bg .l { height: 50%; top: 0; left: 12px; background-position: -55px 0; background-repeat: repeat-y}
.jslider.vertical .jslider-bg .r { height: 50%; top: 50%; left: 12px; background-position: right 0; background-repeat: repeat-y}
.jslider.vertical .jslider-bg .v { z-index: 1; position: absolute; width: 60%; left: 12px; top: 0; height: 100%; background-repeat: repeat-y; background-position: -35px 0px; }
.jslider.vertical .jslider-bg .s { width: 5px; z-index: 1;left: 12px; height:1px; background-color: #185F83;}


.jslider.vertical.sliderCSS .jslider-bg .l { width: 5px; height: 50%; top: 0;  background-color: silver; background-image: none;}
.jslider.vertical.sliderCSS .jslider-bg .r { width: 5px; height: 50%; top: 50%; background-color: silver; background-image: none;}
.jslider.vertical.sliderCSS .jslider-bg .v { z-index: 1; width: 5px; height: 100%; background-color: #777575; background-image: none;}
.jslider.vertical.sliderCSS .jslider-bg .p { left: 12px; width: 5px; background-color: transparent; background-image: none;}
.jslider.vertical.sliderCSS .jslider-bg .s { left: 12px; width: 5px; background-color: transparent; background-image: none;z-index: 2;height: 1px;}
.jslider.vertical.sliderCSS .jslider-bg .f { left: 12px; background-color: transparent; background-image: none;}

.jslider.vertical .jslider-pointer { left: 62%; background-position: -1px -3px; }
.jslider.vertical .jslider-pointer.jslider-pointer-hover { background-position: -1px -23px; }
.jslider.vertical .jslider-pointer-to { left: 62%; }
.jslider.vertical .jslider-pointer-to.jslider-pointer-hover { background-position: -1px -23px; }

.jslider.vertical .jslider-value { left: 0; top:0;}
.jslider.vertical .jslider-value-to { left: 0; top:80%; }

.jslider.vertical .jslider-scale span { position: absolute; width: 5px; height: 1px; border-left: none; font-size: 0; border-top: 1px solid #999;}

.jslider.vertical .jslider-scale ins { font-size: 9px; text-decoration: none; position: absolute; left: 0px; top: 5px; color: #999; }

.jslider.vertical .jslider-scale { position: inherit; }

