/*
|--------------------------------------------------------------------------
| Fee Calculator Style
|--------------------------------------------------------------------------
|
*/

/** Total Calculator */
.m-fee-calculator {
	
	@include breakpoint('tablet') {
		@include container();

		max-width:rem-calc(700);
	}
}

/** Heading */
.m-fee-calculator__heading {
	background:darken($green-gray, 10%);
	color:$white;
	padding:rem-calc(10) rem-calc(20);
	
}

/** Input Section */
.m-fee-calculator__input {
	background:$green-gray;
	padding:rem-calc(20);

}





/** Results Section */
.m-fee-calculator__results {
	display:none;
	border-top:1px solid $gray;
	background:$green-gray;
	padding:rem-calc(20);;
}


