.m-portfolio-disclosure {
	

	&__link {
		a {
			text-decoration: none;
			color:$black;
			margin-right:rem-calc(5);
			@extend %font-light;

			i {
				display: inline-block;
				@include transformTransition($cubic 0.5s);
				@include rotate3d(0,0,1, 0deg);
			}
		}

		&.active {
			i {
				@include rotate3d(0,0,1, 90deg);
			}
		}	
	}
	



	&__legal {
		display:none;

		margin-top:rem-calc(20);;
		// column-count:2;
		// column-width:200px;
		// column-gap:rem-calc(50); 
		
		p:first-child {margin:0;}
	}

}