.m-topic-display {
	display:none;
	
	@include breakpoint('tablet') {
		display: block;
		@include displayList(inline);	
		
		h5 {
			margin-top:rem-calc(5);
			margin-bottom:rem-calc(2);
		}

		li {
			margin-right:rem-calc(8);
		}
	}
	
}