.f-subscribe-email__input {
	
	input {
		padding:rem-calc(12);
		font-size:$font-size;
	}

	button {
		margin-top:rem-calc(5);
		font-size:$font-size;
	}


	@include breakpoint('tablet') {
			button.open {
				border-left:1px solid $green;
			}

			button.bw {
				border-left:1px solid $black ;
			}
		}


	@include breakpoint('laptop') {
		input {
			width:60%;
		}

		button {
			width:40%;
		}
	}
}
