.dashboard__alert {
	padding:rem-calc(8) rem-calc(20);
	
	.callout {
		background: rgba($black, 0.1);
		background:none;
		border:0;
		margin-bottom:0;
	}
}

.dashboard__alert--title {
	
}

.dashboard__alert--publish-button {
	.button {
		float:right;
	}
}