/*
|--------------------------------------------------------------------------
| Site Typography
|--------------------------------------------------------------------------
|
| All Element Typography is handled below
|
*/

h1 {
	font-size:rem-calc(60);
	line-height:rem-calc(64);
	font-family: $header-font;
	
	@include breakpoint('tablet') {
		line-height:1.61;
	}
}

h2 {
	font-size:rem-calc(42);
	line-height:rem-calc(44);
	color:$gray;
	font-family: $header-font;

	@include breakpoint('laptop') {
		font-size:rem-calc(42);
		line-height:rem-calc(54);
	}
}

h3 {
	font-size:rem-calc(26);
	line-height:rem-calc(30);
	color:$green;
	margain-bottom:rem-calc(5);
	font-family: $header-font;
}

h4 {
	font-size:rem-calc(22);
	line-height:1.61;
	font-family: $header-font;
}

h5 {
	font-size:rem-calc(18);
	line-height:1.61;
	color:$green;
	font-family: $header-font;
}	

blockquote {
	@include clearMP;
	margin-left:rem-calc(5);
	p {
		font-style:italic;
		font-size:rem-calc(18);
		line-height:rem-calc(32);
	}

	.author {
		display: block;
		font-weight:bold;
	}
}	

p {
	font-size:rem-calc(16);
	font-family:$body-font-family;
	line-height:1.61;
	
	&.large {
		font-size:rem-calc(18);
	}

	&.small {
		font-size:rem-calc(14);
	}
}


strong, b {
	font-weight:bold;
}


ul {
	 &.no-bullets {
        @include clearMP;

        li {
            list-style:none;
            @include clearMP;
            margin-bottom:rem-calc(20);
        }
    }
}

li {
	font-size:rem-calc(16);
	font-family:$body-font-family;
	line-height:2.1;
	
	.large &{
		font-size:rem-calc(18);
		line-height: rem-calc(48);
	}

	@include breakpoint('laptop') {
		font-size:rem-calc(16);
		line-height:rem-calc(32);

		.large &{
			font-size:rem-calc(20);
			line-height: rem-calc(40);
		}
	}
}




/**
 * Navigation
 */
nav {
	@include displayList(block);

	ul {
		text-align: center;
	}

	li {
		list-style:none;
	}

	a {text-decoration:none;}

	@include breakpoint('tablet') {
		li {
			display: inline-block;
		}
	}	
}



/**
 * Links
 */

a {
	color:$green;
	
	&:hover {
		color:$black;
	}

	&.expat {
		color:$blue;

		&:hover {
			color:$blue-dark
		}
	}
}

a.tel {
    @include breakpoint('laptop') {
        color:$black;
        pointer-events:none;
        cursor:default;
        text-decoration:none;
    }
}






/** Placement Styles */
.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}


/**Other Styles */
.legal {
	font-size:$font-size-small;
	color:$gray;
}


