$article-height: rem-calc(300);
$source-font: 'Source Serif Pro', serif;

.dashboard__content {
	
	@include breakpoint('laptop') {
		width:80%;
		margin:auto;	
	}

	table tbody td:first-child{
		padding-left:rem-calc(20);
	}
	
}

.dashboard__content--content {
	width:rem-calc(795);
	margin:auto;
	font-family:$source-font;
	line-height:2;
	font-size:rem-calc(16);
	margin-top:rem-calc(20);
}


.dashboard__content--draft {
	height:rem-calc(10);
	margin-top:rem-calc(-20);
	width:0;
	

	&.unpublished {
		background:$warning;
		width:100%;
	}
}


.dashboard__content--show-wrapper {
	position: relative;
}

.dashboard__content--post-background {
	position: absolute;
	width:100%;
	top:0;
	left:0;
}


.dashboard__content--list {
	p {
		padding-bottom:rem-calc(20);
	}

	ul { @include clearMP; }

	li {
		list-style:none;
		margin-bottom:rem-calc(15);
	}
}


.dashboard__content--card {
	.col {
		float:none;
		margin:auto !important;
	}
}

.dashboard__content--no-video-container {
	height:200px;
	width:100%;
	background:$orange;
}


.dashboard__content--thumbnails {
	margin:auto;
	
	&--large {
		float:left;
	}

	&--small {
		margin-left:rem-calc(5);
		position: relative;
		top:22px;
	}
}

/*
|--------------------------------------------------------------------------
| Post Content
|--------------------------------------------------------------------------
|
| Description 1
|  Description 2
| 
|
*/

/*
|--------------------------------------------------------------------------
| Post Content for the Blog
|--------------------------------------------------------------------------
|
| Description 1
|  Description 2
| 
|
*/

.m-post-content__callout  {
	margin:rem-calc(40) rem-calc(20);
	text-align: center;
	font-size:rem-calc(24);
	color:#333;
	color:$green;
	font-style:italic;
}

.m-post-content__image-right  {
	@include clearMP;

	img {
		width:100%;
	}	

	figcaption {
		text-align: center;
		font-style:italic;
		font-size:rem-calc(12);
		color:$gray;
	}
	
	@include breakpoint('tablet') {
		width:45%;
		float:right;
		margin:rem-calc(10) rem-calc(0) rem-calc(10) rem-calc(20);

		figcaption {
			text-align: right;
		}
	}


	@include breakpoint('laptop') {
		margin:rem-calc(10) rem-calc(-40) rem-calc(10) rem-calc(30);
	}
}


.m-post-content__image-left {
	@include clearMP;

	img {
		width:100%;
	}
	

	figcaption {
		text-align: center;
		font-style:italic;
		font-size:rem-calc(12);
		color:$gray;
	}

	@include breakpoint('tablet') {
		width:45%;
		float:left;
		margin:rem-calc(10) rem-calc(20) rem-calc(10) rem-calc(0);
	
		figcaption {
			text-align: left;
		}
	}


	@include breakpoint('laptop') {
		margin:rem-calc(10) rem-calc(30) rem-calc(10) rem-calc(-40);
	}
}

.m-post-content__image-full {
	overflow:hidden;
	@include clearMP;
	margin-top:rem-calc(20);
	margin-bottom:rem-calc(20);

	img {
		width:100%;
		margin:auto;
	}

	figcaption {
		text-align: center;
		font-style:italic;
		font-size:rem-calc(12);
		color:$gray;
	}
}


/*
|--------------------------------------------------------------------------
| Recipes
|--------------------------------------------------------------------------
|
|
*/


.m-post-content__recipe {
	border:2px solid $gray;
	padding:rem-calc(20);

	h3 {
		color:$gray;
	}
}


.m-post-content__recipe--image {
	@include clearMP;
	overflow:hidden;
	
	img {
		@include clearMP;
		width:100%;
	}
}

.m-post-content__recipe--time {
	clear:both;
	@include clearMP;
	border-top:1px solid $gray-lightest;
	
	
	@extend %clearfix;

	li {
		@include clearMP;
		text-align: left;
		list-style:none;
		color:$gray;

		strong {
			color:$black;
		}
	}

	@include breakpoint('tablet') {
		li {
			width:45%;
			float:left;
		}
	}

}

.m-post-content__recipe--ingredients {
	h4 {
		border-bottom:1px solid $gray-lightest;
	}

	ul {
		@include clearMP;
	}

	li {
		list-style:none;
	}
}


.m-post-content__recipe--directions {
	h4 {
		border-bottom:1px solid $gray-lightest;
	}
}




/*
|--------------------------------------------------------------------------
| ARticle Small Image
|--------------------------------------------------------------------------
|
| Description 1
|  Description 2
| 
|
*/



.m-article{
	height:rem-calc(250);
    @include clearMP;
    margin-top:rem-calc(5);
    margin-bottom:rem-calc(5);
    position: relative;
    overflow:hidden !important;


    &__image{
        @include scale(1.2);
        @include transition(transform ease-out 0.2s);
    }

    &:hover {
        .m-article__image {
          @include scale(1);     
        }
    }

    &.large {
        margin-top:rem-calc(25);
    }

	@include breakpoint('tablet') {
		width:232px;
    	height:$article-height;
        
        &.large {
            width:rem-calc(795);
        }
	}


    @include breakpoint('laptop') {
    	margin-top:rem-calc(5);
        
        
        &.large {
            margin-left:rem-calc(7);
            margin-right:rem-calc(7);
        }
    }
}


.m-article__image {
    position: absolute;
    height:100%;
    width:100%;
    background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;
    z-index:-1;

    @extend %blackCover;
}

.m-article__text {
	position: absolute;
    width:100%;
    
    top:0;
    padding:10px;
    z-index:2;

    .button {
    	padding:rem-calc(12) rem-calc(20);
    	border:1px solid $white;
    	
    	a {
    		color:$white;
    		font-size:rem-calc(16);
    		text-transform: uppercase;
    	}
    }


    h2 {
	   font-family:$source-font;
       font-size:rem-calc(24);
       line-height:rem-calc(28);
    
        .large  & {
            font-size:rem-calc(32);
            line-height:rem-calc(38);
        }   

        a {
            color:$white;
            text-decoration: none;
        }
    }
     @include breakpoint('tablet') {
        top:0;
        height:$article-height;
    	overflow:hidden;

        
        h2 {
            line-height:1.21;
            overflow:hidden;
            text-overflow:ellipsis;
        }

        .button {
            position: absolute;
            bottom:rem-calc(10);
        }
    }     
}


.article__header {
	position: relative;
	padding-top:rem-calc(100);
	padding-bottom:rem-calc(20);
	padding-left:rem-calc(20);
	padding-right:rem-calc(20);
	text-align: center;

	.button {
		position: relative;
		text-align: center;
		margin-top:0;
	}

	


	h1 {
		font-family:$source-font;
		text-align: center;
		font-size:rem-calc(40);
		width:100%;
		line-height:rem-calc(46);
		color:$white;
	}

	
	h4 {
		font-size:rem-calc(22);
		line-height:22px;
		color:$white;
		
		a {
			color:$white;
		}
		
		font-family:$source-font;
		small {
			display: block;
		}
	}


	&--no-image {
		h1 {
			font-family:$source-font;
			text-align: center;
			font-size:rem-calc(40);
			width:100%;
			line-height:rem-calc(46);
		}

		h4 {
			font-size:rem-calc(22);
			line-height:22px;
			a {
				color:$black;
			}
		
			font-family:$source-font;
			small {
				display: block;
			}
		}
	}

	
	@include breakpoint('tablet') {
		h1 {
			width:90%;
			margin:auto;
			font-size:rem-calc(60);
			line-height: rem-calc(68);
			margin-bottom:rem-calc(20);
		}
	}

	@include breakpoint('laptop') {
		h1 {
			width:60%;
		}
	}
}


.article__author {
	text-align: center;
	
	
	a {
		text-decoration: none;
		color:$white;
	}

	small {
		display: block;
	}
}
